<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Courgette|Pacifico:400,700">
<title>Voting</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<style>
body {
  color: #999;
  background: #FCEBF1 !important;
  font-family: 'Roboto', sans-serif;
}
.form-control {
  min-height: 41px;
  box-shadow: none;
  border-color: #e1e1e1;
}
.form-control:focus {
  border-color: #00cb82;
} 
.form-control, .btn {        
  border-radius: 3px;
}
.form-header {
  margin: -30px -30px 20px;
  padding: 30px 30px 10px;
  text-align: center;
  background: #00cb82;
  border-bottom: 1px solid #eee;
  color: #fff;
}
.form-header h2 {
  font-size: 34px;
  font-weight: bold;
  margin: 0 0 10px;
  font-family: 'Courgette', sans-serif;
}
.form-header p {
  margin: 20px 0 15px;
  font-size: 17px;
  line-height: normal;
  font-family: 'Courgette', sans-serif;
}
.vote-form {
  width: 590px;
  margin: 0 auto; 
  padding: 30px 0;  
}
.vote-form form {
  color: #999;
  border-radius: 3px;
  margin-bottom: 15px;
  background: #f0f0f0;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.vote-form .form-group {
  margin-bottom: 20px;
}   
.vote-form label {
  font-weight: normal;
  font-size: 14px;
}
.vote-form input[type="checkbox"] {
  position: relative;
  top: 1px;
}
.vote-form .btn {        
  font-size: 16px;
  font-weight: bold;
  background: #00cb82;
  border: none;
  min-width: 200px;
}
.vote-form .btn:hover, .vote-form .btn:focus {
  background: #00b073 !important;
  outline: none;
}
.vote-form a {
  color: #00cb82;   
}
.vote-form a:hover {
  text-decoration: underline;
}
.vote-form .form-check
{
  margin-bottom: 10px;
}
</style>
</head>
<body>
<div class="vote-form">
    <form action="/vote" method="POST">
    <div class="form-header">
      <h2>Give your vote
</h2>
      <p>Fill this from to give your vote to your choise team</p>
    </div>
        <div class="form-group">
          <label>Your Age</label>
          <input type="text" class="form-control" name="age" id="age" required="required">
        </div>

    <label>Choose your voting team</label>
    
    <div class="form-check">
      <input class="form-check-input" type="radio" name="team" id="flexRadioDefault1" value="teamAvote" required="required">
      <label class="form-check-label" for="flexRadioDefault1">
        Team A
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="team" id="flexRadioDefault2"  value="teamBvote" >
      <label class="form-check-label" for="flexRadioDefault2">
          Team B
      </label>
    </div> 

    <div class="form-check">
      <input class="form-check-input" type="radio" name="team" id="flexRadioDefault3"  value="teamCvote" >
      <label class="form-check-label" for="flexRadioDefault3">
        Team C
      </label>
    </div> 

        <div class="form-group">
      <label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block btn-lg">Vote</button>
    </div>  
    </form>
</div>

</body>
</html>

 